<% if(auth){ %>
  <a href="/addbar"><button class="reset1">Add bar</button></a>
  <a href="/logout"><button class="reset1"  onclick="logout()">Logout</button></a>
  
  <% } else{ %>
    <a href="/login"><button class="reset1">Login</button></a>
    <p>or</p>
    <a href="/register"><button class="reset1">Register</button></a>
    <p>to get more features</p>
   
  <% } %>