<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head')%>
</head>
<body>
  <div class="pridetiBloga">
    <form action="/addblog" method="POST" class="blogoForma">
      <h2><%=title%></h2>
          <label for="author_id" class="inputas">Provide Your's ID</label>
          <br>
          <input type="number" name="author_id" step="1" id="author_id" class="inputas">
          <br>
        <label for="title" class="inputas">Write blog title</label>
        <br>
        <input type="text" name="title" id="title" class="inputas" placeholder="About dogs etc..." >
        <br>
        <label for="content" class="inputas" >Write bar adress </label>
        <br>
        <textarea id="content" name="content" rows="4" cols="50">
         
          </textarea>
      <br>
      <input type="submit" class="ieskoti" value="Add">
      <br>
      </form>
      <div class="pagr">
      <a href="/"><button class="reset">Main</button></a>
    </div>
  </div>
</body>
</html>